---
import BlogPostPreview from '@/components/BlogPostPreview.astro';
import Email from '@/components/icons/Email.astro';
import GitHub from '@/components/icons/GitHub.astro';
import Twitter from '@/components/icons/Twitter.astro';
import Linkedin from '@/components/icons/Linkedin.astro';
import YouTube from '@/components/icons/YouTube.astro';
import { EMAIL, HANDLE_GITHUB, HANDLE_TWITTER, HANDLE_LINKEDIN, YOUTUBE } from '@/constants';
import Layout from '@/layouts/Layout.astro';

const allPosts = await Astro.glob('./blog/*/index.mdx');
const sortedRecentPosts = allPosts
  .sort((a, b) => new Date(b.frontmatter.pubDate).valueOf() - new Date(a.frontmatter.pubDate).valueOf())
  .slice(0, 3);
---

<Layout>
  <div class="space-y-6">
    <h1 class="text-3xl font-bold md:text-5xl">Hi, I'm Hudson 👋</h1>
    <h2 class="text-lg">I'm a software developer who loves transportation 🚄 🚋 🛫</h2>
    <ul class="list-disc space-y-2 ml-2 list-inside text-gray-200">
      <li class="text-black">
        Django developer at <a
          class="hover:underline rounded-lg dark:hover:underline text-indigo-800 dark:text-yellow-200"
          href="https://www.sidefx.com/"
          target="_blank"
        >SideFX</a>
      </li>
      <li class="text-black">Creator of <a
          class="hover:underline rounded-lg dark:hover:underline text-indigo-800 dark:text-yellow-200"
          href="https://theflyingmoose.net/"
          target="_blank"
        >
          The Flying Moose
        </a>
      </li>
      <li class="text-black"><a
        class="hover:underline rounded-lg dark:hover:underline text-indigo-800 dark:text-yellow-200"
        href="https://www.nextcanada.com/next-36/"
        target="_blank"
      >Next36</a> 2022 Cohort</li>
      
      <li class="text-black">
        CS + Stats, University of Toronto (2023)
      </li>
    </ul>
    <div class="flex space-x-3 -ml-2">
      <a
        class="hover:bg-yellow-200 py-2 px-3 rounded-lg dark:hover:bg-neutral-800 dark:hover:text-yellow-200"
        href={`https://linkedin.com/in/${HANDLE_LINKEDIN}`}
        target="_blank"
      >
        <Linkedin />
      </a>
      <a
        class="hover:bg-yellow-200 py-2 px-3 rounded-lg dark:hover:bg-neutral-800 dark:hover:text-yellow-200"
        href={`https://youtube.com/@${YOUTUBE}`}
        target="_blank"
      >
        <YouTube />
      </a>
      <a
        class="hover:bg-yellow-200 py-2 px-3 rounded-lg dark:hover:bg-neutral-800 dark:hover:text-yellow-200"
        href={`https://github.com/${HANDLE_GITHUB}`}
        target="_blank"
      >
        <GitHub />
      </a>
      <a
        class="hover:bg-yellow-200 py-2 px-3 rounded-lg dark:hover:bg-neutral-800 dark:hover:text-yellow-200"
        href={`mailto:${EMAIL}`}
        target="_blank"
      >
        <Email />
      </a>
    </div>
    <!-- <Newsletter /> -->
    <div class="py-6">
      <h3 class="text-2xl md:text-4xl font-semibold"><a href="/blog">Latest posts</a>
        </h3>
      {sortedRecentPosts.map((p) => <BlogPostPreview post={p} />)}
    </div>
  </div>
</Layout>
